/*
Name: Tej Parekh
ID: 144914207
Email: tpparekh@myseneca.ca
*/
<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>Room Booking For Free</title>
        <link rel="stylesheet" href="css/style.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    </head>
    <body>
        <header>
            <div id=iconDiv>
               <a href="/"><i class="fab fa-airbnb fa-3x"></i></a>
            </div>
                
            <div id=navDiv>
                <a id = "pHome" class = "pnavDiv" href="/">Home</a>
                <a id = "pRoom" class = "pnavDiv" href="/room">Room Listing</a>
                <a id= "pRegist" class = "pnavDiv" href="/reg">User Registration</a>

            </div>

            <div id=loginDiv>
                <a href="/login" id = "plogin">Sign In</a>
                <br>
                <p>if already a user</p>
            </div>
        </header>
        

            {{{body}}}
        
        
        <footer>
            <p>developed by:<i><b> Tej Parekh</b> </i></p>
            <a href="https://www.facebook.com/airbnb/"><i class="fab fa-facebook-f fa-1.5x"></i></a>
            <a href="https://twitter.com/Airbnb?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter fa-1.5x"></i></a>
            <a href="https://www.youtube.com/airbnb"><i class="fab fa-youtube fa-1.5x"></i></a>
        </footer>

        <script src="js/script.js"></script>
    </body>
</html>