<div id = "imagesDiv">
  {{#each room}}
  <div>{{this}}</div>
  {{/each}}
    <div id = "imgDiv1" class = "imgDiv"> 
        <div id = "img1" class = "imgClass">
          <a href="" id = "aImg1" class = "img">
              <img src="img/roomImg/img1.jpg" class = "imgIMG">
          </a>
          <p>ENTIRE LOFT . MONTREAL</p>
          <h3>Skylit Loft in Old Montreal</h3>
          <p>$122 CAD/night</p>
          <p><i class="fas fa-star"></i>4.77(358)</p>  
        </div>

        <div id = "img2" class = "imgClass">
          <a href="" id = "aImg2" class = "img">
              <img src="img/roomImg/img2.jpg" class = "imgIMG">
          </a>
          <p>ENTIRE LOFT . MONTREAL</p>
          <h3>Skylit Loft in Old Montreal</h3>
          <p>$122 CAD/night</p>
          <p><i class="fas fa-star"></i>4.77(358)</p>   
        </div>
    </div>
    <div id = "imgDiv2" class = "imgDiv">
        <div id = "img3" class = "imgClass">
          <a href="" id = "aImg3" class = "img">
              <img src="img/roomImg/img3.jpg" class = "imgIMG">
          </a>
          <p>VERIFIED . MONTREAL</p>
          <h3>Urban Wilderness, a Warm Ideally Condo</h3>
          <p>$76 CAD/night</p>
          <p><i class="fas fa-star"></i>4.83(464)</p>   
        </div>

        <div id = "img4" class = "imgClass">
          <a href="" id = "aImg4" class = "img">
              <img src="img/roomImg/img4.jpg" class = "imgIMG">
          </a>
          <p>HOTEL ROOM . MONTREAL</p>
          <h3>"La Paige" Cute Apt Great Location!</h3>
          <p>$44 CAD/night</p>
          <p><i class="fas fa-star"></i>4.67(258)</p> 
        </div>
    </div>

    <div id = "imgDiv3" class = "imgDiv">
        <div id = "img5" class = "imgClass">
          <a href="" id = "aImg5" class = "img">
              <img src="img/roomImg/img5.jpg" class = "imgIMG">
          </a>
          <p>ENTIRE APARTMENT . MONTREAL</p>
          <h3>Eco studio/loft in MileEnd/Plateau</h3>
          <p>$119 CAD/night</p>
          <p><i class="fas fa-star"></i>4.79(457)</p>   
        </div>

        <div id = "img6" class = "imgClass">
          <a href="" id = "aImg6" class = "img">
            <img src="img/roomImg/img6.jpg" class = "imgIMG">
          </a>
          <p>ENTIRE LOFT . MONTREAL</p>
          <h3>The New York Loft in Old Montreal</h3>
          <p>$150 CAD/night</p>
          <p><i class="fas fa-star"></i>4.75(332)</p>   
        </div>
    </div>
</div>